#slider {
    -fx-background-color: #202020;
    -fx-padding: 5.5;

}

#fancytext {
    -fx-fill: #FFFFFF
}

#textBox {
    -fx-background-color: #202020;
    -fx-border-color: #000000;
    -fx-pref-width: 294.0;
    -fx-pref-height: 30.0;
    -fx-text-fill: white;
}

#button {
    -fx-background-color: #3CB371;
    -fx-pref-width: 300.0;
    -fx-text-fill: white;
}

#button:hover{
 	-fx-background-color: #606060;
    -fx-pref-width: 300.0;
    -fx-text-fill: white;
}


#leftToggle {
    -fx-background-color: #404040;
    -fx-text-fill: white;
    -fx-pref-height: 30.0;
    -fx-pref-width: 147.0;

}

#leftToggle:selected {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-pref-width: 147.0;
    -fx-border-color: white;
    -fx-border-width: 0.0px 0.0px 0.0px 3.0px;
}

#leftToggle:hover {
    -fx-background-color: #606060;
}

#rightToggle {
    -fx-background-color: #404040;
    -fx-text-fill: white;
    -fx-pref-height: 30.0;
    -fx-pref-width: 147.0;
}

#rightToggle:selected {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-pref-width: 147.0;
    -fx-border-color: white;
    -fx-border-width: 0.0px 3.0px 0.0px 0.0px;
}

#rightToggle:hover {
    -fx-background-color: #606060;
}

