#slider {
    -fx-background-color: #202020;
    -fx-padding: 5.5;

}

#fancytext {
    -fx-fill: #FFFFFF
}

#username {
    -fx-background-color: #202020;
    -fx-border-color: #000000;
    -fx-pref-width: 294;
    -fx-pref-height: 30;
    -fx-text-fill: white;
}

#host {
    -fx-background-color: #202020;
    -fx-border-color: #000000;
    -fx-pref-width: 294;
    -fx-pref-height: 30;
    -fx-text-fill: white;
}

#connect {
    -fx-background-color: #3CB371;
    -fx-pref-width: 300;
    -fx-text-fill: white;
}


#leftToggle {
    -fx-background-color: #404040;
    -fx-text-fill: white;
    -fx-pref-height: 30;
    -fx-pref-width: 147;

}

#leftToggle:selected {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-pref-width: 147;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 3px;
}

#leftToggle:hover {
    -fx-background-color: #606060;
}

#rightToggle {
    -fx-background-color: #404040;
    -fx-text-fill: white;
    -fx-pref-height: 30;
    -fx-pref-width: 147;
}

#rightToggle:selected {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-pref-width: 147;
    -fx-border-color: white;
    -fx-border-width: 0px 3px 0px 0px;
}

#rightToggle:hover {
    -fx-background-color: #606060;
}

#security {
    -fx-background-color: #404040;
    -fx-text-fill: white;
    -fx-pref-width: 147;
    -fx-pref-height: 30;
}

#security:selected {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-pref-width: 147;
    -fx-effect: dropshadow(three-pass-box, white, 10, 0, 0, 0);
}


#security:hover {
    -fx-background-color: #606060;
}

#thief {
    -fx-background-color: #404040;
    -fx-text-fill: white;
    -fx-pref-width: 147;
    -fx-pref-height: 30;
}

#thief:selected {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-pref-width: 147;
    -fx-effect: dropshadow(three-pass-box, white, 10, 0, 0, 0);
}

#thief:hover {
    -fx-background-color: #606060;
}


#slider .button:hover {
    -fx-background-color: #606060;
}

