#sliderLayer {
    -fx-background-color: transparent;
    -fx-pref-width: 500.0;
    -fx-spacing: 5.0;
}

#sliderControls {
    -fx-background-color: #606060;
    -fx-alignment: center-right;
    -fx-padding: 10.0px;
}

#mainButton {
    -fx-background-color: #3CB371;
    -fx-background-radius: 10.0px;
    -fx-border-radius: 8.0px;
    -fx-border-color: #404040;
    -fx-pref-height: 30.0;
    -fx-pref-width: 248.0;
    -fx-text-fill: white;
}

#mainButton:hover{
	-fx-background-color: #606060;
}

#exit {
    -fx-background-color: darkred;
    -fx-text-fill: white;
}


